[submodule "Arduino_ESP32_SPS30"]
	path = Arduino_ESP32_SPS30
	url = https://github.com/jackrobotics/Arduino_ESP32_SPS30
[submodule "Adafruit_Sensor"]
	path = vendor/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule ".\\vendor\\Adafruit_Sensor\\"]
	path = .\\vendor\\Adafruit_Sensor\\
	url = https://github.com/adafruit/Adafruit_Sensor
